<?xml version="1.0" encoding="UTF-8"?>
<settings
  xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <servers>
    <server>
      <id>ClearSky-Public</id>
      <username>clearsky-client</username>
    </server>
    <server>
      <id>ClearSky-Public-SNAPSHOT</id>
      <username>clearsky-partner</username>
      <password>GfwK7HpFKhrE4f#PxGmEyonE</password>
    </server>
  </servers>

</settings>